<ion-view view-title="Dashboard" hide-back-button="true">
  <ion-content>
      <div class="card">
          <div style="font-size: 1.5em; text-align: center;" class="item-assertive item item-text-wrap icon-left ion-ios7-refresh">
              New products are available. Please sync your products.
          </div>
      </div>


        </div>
      <div>  <li ng-show="!user.id"><a ng-click="loginAgain()">Sign in</a></li>
          <li ng-show="user.id"><a ng-click='signOut()'>Sign out</a></li></div>

      <div ng-show="user.id" class="container">

    <div ng-if="user.company.company_image.url.length !== nil" style="text-align: center;">
        <img ng-src="http://localhost:3000/{{user.company.company_image.url}}" />
    </div>

    <div ng-if="user.company.company_image.url.length === nil" style="text-align: center;">
        <h1 class="assertive">{{user.company.name}}</h1>
    </div>

          <div class="list card dash-card" style="border: 1px solid darkgray;">

              <div class="item item-stable item-image">
                  <img src="img/add-new-sale.png" />
              </div>


              <div class="item">

                      <h4>New Sale</h4>
                      <p>Lorum ipsum da da da</p>

                  <button ng-click="newSale()" style="font-weight: bold; width:100%;" class="button button-balanced button-outline icon-left ion-ios7-plus-empty">
                      Add New Sale
                  </button>

              </div>

          </div>
          <div class="list card dash-card" style="border: 1px solid darkgray;">

              <div class="item item-stable item-image">
                  <img src="img/my-sales.png" />
                  <span ng-if="salesNeedingAttention.$$state.value.length > 0" class="badge badge-assertive">{{salesNeedingAttention.$$state.value.length}}</span>

              </div>

              <div class="item">

                  <h4>My Sales</h4>
                  <p>Lorum ipsum da da da</p>



                  <button ng-click="mySales()" style="font-weight: bold; width:100%;" class="button button-calm button-outline icon-left ion-ios7-plus-empty">
                      View My Sales
                  </button>


              </div>

          </div>


          <!--<div class="list card dash-card" style="border: 1px solid darkgray;">-->

              <!--<div class="item item-stable item-image">-->
                  <!--<img src="img/sync-sales.png" />-->
              <!--</div>-->

              <!--<div class="item">-->

                  <!--<h4>Sync Sales</h4>-->
                  <!--<p>Lorum ipsum da da da</p>-->

                  <!--<button ng-click="syncSales()" style="font-weight: bold; width:100%;" class="button button-royal button-outline icon-left ion-ios7-plus-empty">-->
                      <!--Sync Sales-->
                  <!--</button>-->


              <!--</div>-->

          <!--</div>-->

          <!--<div style="clear: both;">-->

          <!--<div class="list card dash-card" style="border: 1px solid darkgray;">-->

              <!--<div class="item item-stable item-image">-->
                  <!--<img src="img/current-products.png" />-->
              <!--</div>-->

              <!--<div class="item">-->

                  <!--<h4>Current Products</h4>-->
                  <!--<p>Lorum ipsum da da da</p>-->

                  <!--<button ng-click="myProducts()" style="font-weight: bold; width:100%;" class="button button-calm button-outline icon-left ion-ios7-plus-empty">-->
                      <!--View Products-->
                  <!--</button>-->


              <!--</div>-->

          <!--</div>-->



          <div id="wrapper">
          <div class="list card dash-card" style="border: 1px solid darkgray;">

              <div class="item item-stable item-image">
                  <img id="myImage" src="img/sync-products.png" />
              </div>

              <div class="item">

                  <h4>Sync Products</h4>
                  <p>Lorum ipsum da da da</p>

                  <button ng-click="syncProducts()" style="font-weight: bold; width:100%;" class="button button-royal button-outline icon-left ion-ios7-plus-empty">
                      Sync Products (Coming Soon)
                  </button>


              </div>

          </div>
          </div>

          <div style="clear: both;">

      </div>

  </ion-content>
</ion-view>
