<ion-view view-title="Display Sale" hide-back-button="true">
  <ion-content>

      <iframe id="sale-frame" class="sales-display" type="text/html" ng-src="{{trustSrc()}}" allowfullscreen frameborder="0" />

  </ion-content>
</ion-view>
