<ion-modal-view view-title="Pincode" class="pincode-modal" ng-init="init()">

    <ion-content class="center-vertical">

        <h1 class="pincodeHeadline">Please enter <br/> your pincode</h1>
        <div style="margin-top: 30px">
            <div class="error_message" ng-show="error">INCORRECT PIN</div>

            <div>
                <div class="row" style="text-align: center">
                    <div class="col col-10 col-offset-15" style="border-bottom: 1px solid black">
                        <!--this is showing the actual value-->
                        <!--{{passcode.substring(0, 1)}}-->
                        <!--this is showing a star instead of the value-->
                        <div ng-show="passcode.substring(0, 1)"><i class="ion-record"></i></div>
                    </div>
                    <div class="col col-10 col-offset-10" style="border-bottom: 1px solid black">
                        <!--{{passcode.substring(1, 2)}}-->
                        <div ng-show="passcode.substring(1, 2)"><i class="ion-record"></i></div>
                    </div>
                    <div class="col col-10 col-offset-10" style="border-bottom: 1px solid black">
                        <!--{{passcode.substring(2, 3)}}-->
                        <div ng-show="passcode.substring(2, 3)"><i class="ion-record"></i></div>
                    </div>
                    <div class="col col-10 col-offset-10" style="border-bottom: 1px solid black">
                        <!--{{passcode.substring(3, 4)}}-->
                        <div ng-show="passcode.substring(3, 4)"><i class="ion-record"></i></div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col col-20 col-offset-20">
                    <button class="button button-light button-stretch button-round" ng-click="add(1)" ng-model="user.number1" id="user.number1">1</button>
                </div>
                <div class="col col-20">
                    <button class="button button-light button-stretch button-round" ng-click="add(2)" ng-model="user.number2" id="user.number2">2</button>
                </div>
                <div class="col col-20">
                    <button class="button button-light button-stretch button-round" ng-click="add(3)" ng-model="user.number3" id="user.number3">3</button>
                </div>
            </div>
            <div class="row">
                <div class="col col-20 col-offset-20">
                    <button class="button button-light button-stretch button-round" ng-click="add(4)" ng-model="user.number4" id="user.number4">4</button>
                </div>
                <div class="col col-20">
                    <button class="button button-light button-stretch button-round" ng-click="add(5)" ng-model="user.number5" id="user.number5">5</button>
                </div>
                <div class="col col-20">
                    <button class="button button-light button-stretch button-round" ng-click="add(6)" ng-model="user.number6" id="user.number6">6</button>
                </div>
            </div>
            <div class="row">
                <div class="col col-20 col-offset-20">
                    <button class="button button-light button-stretch button-round" ng-click="add(7)" ng-model="user.number7" id="user.number7">7</button>
                </div>
                <div class="col col-20">
                    <button class="button button-light button-stretch button-round" ng-click="add(8)" ng-model="user.number8" id="user.number8">8</button>
                </div>
                <div class="col col-20">
                    <button class="button button-light button-stretch button-round" ng-click="add(9)" ng-model="user.number9" id="user.number9">9</button>
                </div>
            </div>
            <div class="row">
                <div class="col col-20 col-offset-20">
                    <!--<button class="button button-light button-stretch button-round"> </button>-->
                </div>
                <div class="col col-20">
                    <button class="button button-light button-stretch button-round" ng-click="add(0)" ng-model="user.number0" id="user.number0">0</button>
                </div>
                <div class="col col-20">
                    <button class="button icon ion-arrow-left-a button-light button-border-white button-stretch button-round" ng-click="delete()"></button>
                </div>

            </div>
        </div>

        <!--<div class="padding">-->
        <!--<button class="button button-block button-positive" ng-click="signIn(user)">-->
        <!--Sign-In-->
        <!--</button>-->
        <!--<p class="text-center">-->
        <!--<a href="#/forgot-password">Forgot password</a> | <a href="#/create-password">Create password</a>-->
        <!--</p>-->
        <!--</div>-->
    </ion-content>
</ion-modal-view>
