<ion-modal-view class="pincode-modal">
    <ion-content>
        <div class="login-form">
            <h1>Connect To Your Business</h1>

            <p>Contact your administrator for login details</p>
            <br/>
            <br/>
            <form>

                <div class="group">
                    <input type="email" required name="email" id="email" ng-model="loginForm.email">
                    <span class="highlight"></span>
                    <span class="bar special-bar"></span>
                    <label class="special-label" id="email">Work Email Address</label>
                </div>

                <div class="group">
                    <input type="password" required name="password" id="password" ng-model="loginForm.password">
                    <span class="highlight"></span>
                    <span class="bar special-bar"></span>
                    <label class="special-label" id="password">Password</label>
                </div>
                <button type="submit" class="button button-stable" ng-click="handleLoginBtnClick(loginForm)">Connect</button>
            </form>

        </div>

    </ion-content>
</ion-modal-view>