<ion-view view-title="My Products">
  <ion-content>

      <ion-list show-delete="shouldShowDelete"
                show-reorder="shouldShowReorder"
                can-swipe="listCanSwipe">
          <ion-item ng-repeat="product in products"
                    class="item-thumbnail-left">

              <img ng-src="{{product.img}}">
              <h2>{{product.name}}</h2>
              <p>{{product.description}}</p>
              <ion-option-button class="button-positive"
                                 ng-click="preview(product)">
                  Preview
              </ion-option-button>
              <ion-option-button class="button-info"
                                 ng-click="edit(product)">
                  Edit
              </ion-option-button>
              <ion-delete-button class="ion-minus-circled"
                                 ng-click="products.splice($index, 1)">
              </ion-delete-button>
              <ion-reorder-button class="ion-navicon"
                                  on-reorder="reorderItem(product, $fromIndex, $toIndex)">
              </ion-reorder-button>

          </ion-item>
      </ion-list>

  </ion-content>
</ion-view>
