<ion-view view-title="My Sales">
    <ion-content>
        <h1 class="assertive sales-h1">My Sales</h1>
        <!--<button ng-click="synced = !synced">Synced</button>-->
        <a class="item-icon-right no-of-sales-to-sync">
            <div ng-repeat='sale in filtered = (sales|syncfilter) track by $index'></div>
            <span ng-if="filtered.length >= 2"class="badge badge-assertive">{{filtered.length}} Sales to Sync</span>
            <span ng-if="filtered.length === 1"class="badge badge-assertive">{{filtered.length}} Sale to Sync</span>
            <span ng-show="!filtered.length" class="ng-hide badge badge-stable">Up to date</span>
        </a>



        <div class="sync-sales">

            <p ng-if="filtered.length > 0" class="info-box-synced-sales"> Your recent sales have not been synced. Please sync them as soon as possible. </p> <p ng-if="filtered.length > 0"> Your must be connected to the internet to sync, we recommend a 2MB+ speed connection.</p>
            <p ng-if="!filtered.length" class="info-box-synced-sales"> Your recent sales are fully synched</p>

            <button ng-if="filtered.length > 0" class="button button-block button-balanced item item-icon-left" ng-click="syncAllSales()">

                <i class="icon light ion-loop"></i>
                Sync Sales
            </button>
        </div>

        <div  ng-show="isSyncing" class="sync-sales-sync" id="progress">
            <progress value="" max="100" id="progress_bar"></progress>
            Syncing...
            <div id="progress_percentage" class="progressbar-value">%</div>

        </div>



        <div class="my-sales">
            <ion-list show-delete="shouldShowDelete"
                      show-reorder="shouldShowReorder"
                      can-swipe="listCanSwipe">
                <h2 class="sales-history-header"> Sales History</h2>
                <ion-item ng-repeat="sale in sales track by $index"
                          class="item-icon-right">
                    <!--<i class="icon ion-location"></i>-->

                        <div class="row custom-row" style="background: white; text-align:center;">
                            <div style="width:25%"><b>{{sale.payload.name}}</b></div>
                            <div style="width:35%">{{sale.name}}

                            </div>
                            <div style="width:45%" class="item-icon-right">Boiler care plan
                                <span ng-show="!sale.paid"><i class="icon-1g assertive fa fa-usd"></i></span>
                                <span ng-show="!sale.videoSyncStatus"><i class="icon-1g assertive fa fa-video-camera"></i></span>
                                <span ng-show="!sale.signature"><i class="icon-1g assertive fa fa-pencil-square-o"></i></span>
                            </div>


                            <div ng-hide="sale.id"><i class="icon assertive fa fa-exclamation-circle salestatus"></i></div>
                            <div ng-show="sale.id && !sale.syncing && (!sale.paid || !sale.videoSyncStatus)"><i class="icon energized fa fa-exclamation-circle salestatus"></i></div>
                            <div ng-show="sale.videoSyncStatus && sale.paid"><i class="balanced icon ion-checkmark-circled salestatus"></i></div>
                            <div ng-show="sale.syncing"><i class="icon fa dark fa-refresh fa-spin"></i></div>




                            <ion-option-button class="button-positive"
                                               ng-click="preview(sale)">
                                View Sale
                            </ion-option-button>
                            <ion-delete-button class="ion-minus-circled"
                                               ng-click="sales.splice($index, 1)">
                            </ion-delete-button>
                            <ion-reorder-button class="ion-navicon"
                                                on-reorder="reorderItem(product, $fromIndex, $toIndex)">
                            </ion-reorder-button>


                </ion-item>
            </ion-list>
        </div>


    </ion-content>



</ion-view>
