<ion-view view-title="New Sale">
  <ion-content>

      <div class="container new-sale-page">

          <div class="list">

              <label class="item item-input item-select">
                  <div class="input-label">
                      Select a Product...
                  </div>
                  <select id="product" name="product" ng-model="currentProduct" ng-options="p as p.name for p in products">
                  </select>
              </label>

              <label class="item item-input">
                  <span class="input-label">First Name</span>
                  <input name="customer.firstname" ng-model="customer.firstname" required type="text">
              </label>

              <label class="item item-input">
                  <span class="input-label">Last Name</span>
                  <input name="customer.lastname" ng-model="customer.lastname" required type="text">
              </label>

              <label class="item item-input">
                  <span class="input-label">Email</span>
                  <input name="customer.email" ng-model="customer.email" required type="email">
              </label>

          </div>

          <div class="list card product-card" style="border: 1px solid darkgray;">

              <div class="item item-stable item-image">
                  <img ng-src="{{currentProduct.img}}" />
              </div>

              <div class="item">

                  <h4>{{currentProduct.name}}</h4>
                  <p>{{currentProduct.description}}</p><br />

                  <button ng-hide="testUser"ng-click="beginSale(currentProduct, customer)" style="font-weight: bold; width:100%;" class="button button-balanced button-outline icon-left ion-ios7-plus-empty">
                      Add New Sale
                  </button><br>
                  <button ng-show="testUser" ng-click="beginSale(currentProduct, customer)" style="font-weight: bold; width:50%;" class="button button-balanced button-outline icon-left ion-ios7-plus-empty">
                      Add New Sale (production stripe keys)
                  </button>
                  <button ng-show="testUser" ng-click="beginSale(currentProduct, customer)" style="font-weight: bold; width:50%;" class="button button-balanced button-outline icon-left ion-ios7-plus-empty">
                      Add New Sale (test stripe keys)
                  </button>

              </div>

          </div>

      </div>

  </ion-content>
</ion-view>
