<ion-view title="Payment Method">
    <ion-nav-buttons side="left">

    </ion-nav-buttons>
    <ion-content has-header="true" style="background-color: #f1f1f1;">
        <div class="confirmation-page center-block" style="background-color: #ffffff;">

            <div class="row">
                <div class="col">
                    <h3>Confirmation </h3>
                    <p>Please confirm you are happy before proceeding to payment</p>
                    <br/>
                </div>
            </div>

            <ion-list>
                <ion-header-bar class="bar-positive" style="height: ">
                    <h1 class="title">Payment Information</h1>
                </ion-header-bar>
                <ion-item>
                    <span class="pull-left"> Product name </span> <span class="pull-right">{{currentSale.product.name}}</span>
                </ion-item>
                <ion-item>
                    <span class="pull-left"> Price </span> <span class="pull-right">£ {{currentSale.payload.price}}</span>
                </ion-item>
                <ion-item>
                    <span class="pull-left"> Extras </span> <span class="pull-right">£ {{currentSale.payload.extras}}</span>
                </ion-item>
                <ion-item><span class="pull-left">Excess </span> <span class="pull-right"> - £ {{currentSale.payload.excess}}</span></ion-item>
                <ion-item><span class="positive pull-left">Total</span> <span class=" positive pull-right">£ {{parseFloat(currentSale.payload.price) + parseFloat(currentSale.payload.extras)}}</span></ion-item>
            </ion-list>

            <br/>
            <br/>

                <div class="row custom-row">

        <div class="col">
            <h4>Customer Information</h4>
            <span class="pull-left" style="width: 180px; height: 30px; display: inline-block; text-align: left;"> </span>

            <span class="pull-right"><img style="display: inline-block; display: inline-block; max-width: 330px;" ng-src="{{sigImageData}}"></span>
            <br/>

            <span class="pull-left" style="width: 180px; display: inline-block; text-align: left;">{{currentSale.payload.name}}</span>

            <span class="pull-left" style="width: 180px; display: inline-block; text-align: left;">{{currentSale.payload.email}} </span>
            <br/>
            <span class="pull-left" style="width: 180px; display: inline-block; text-align: left;">{{currentSale.payload.address}}</span>
            <br/>
            <span class="pull-left"style="width: 180px; display: inline-block; text-align: left;">{{currentSale.payload.postcode}}</span>
            <br/>
            <span class="pull-left"style="width: 180px; display: inline-block; text-align: left;">{{currentSale.payload.city}}</span>

            <br/>

        </div>
                    </div>

                    <br/><br/>
                            <button class="button button-positive" ng-click="makePayment()">
                                Make payment
                            </button>

            <button ng-show="nonPayingSale" class="button button-positive" ng-click="proceedWithoutPayment()">
                Pay Offline
            </button>
        </div>

        <button ng-show="ifNoStripe" class="button button-positive" ng-click="proceedWithoutPayment()">
            Stripe error - proceed without payment
        </button>
    </ion-content>
</ion-view>

