<ion-view view-title="Signature">
  <ion-content>

      <div class="container signature-container">

          <h3>Current Sale Data</h3>
          <p>{{JSON.stringify(currentSale)}}</p>
            <br/>
          <h4>Sign here</h4>
          <p>
            <canvas scroll="false" data-tap-disabled="true" width="500" height="200" id="signature" style="border: 1px solid black;box-sizing: content-box;"></canvas>
          </p>
          <p>
              <button ng-click="clearCanvas()" class="button button-assertive">
                  Clear
              </button>
              <button ng-click="getSignatureData()" class="button button-balanced">
                  Proceed to Payment
              </button>
          </p>
          <!--button ng-click="proceedToPayment()">Proceed to Payment</button-->

      </div>

  </ion-content>
</ion-view>
