<ion-view title="Payment Submitted" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button ng-click="backtoDashboard()" class="button button-icon back-button"></button>
    </ion-nav-buttons>
    <ion-content has-header="true" style="background-color: #f1f1f1;">
        <div style="background: white; border: 1px solid #ccc; width: 600px; height: 132px;   margin:auto; margin-top: 15%">
            <div class="ion-checkmark-round icon" style="background: #3db879; color: white; float: left; font-size:80px; height: 130px; padding: 20px; margin-right:30px; width: 130px; text-align: center"></div>

            <div ng-show="finalStatus == 10">
              <h2 style="padding-top:30px;">Payment Submitted</h2>
              <p>Your sale has successfully gone through </p>
            </div>
            <div ng-show="finalStatus == 11">
                <h2 style="padding-top:30px;">Payment Submitted</h2>
                <p>Payment has been taken, sale to be uploaded </p>
            </div>
            <div ng-show="finalStatus == 12">
                <h2 style="padding-top:30px;">No Payment</h2>
                <p>Sale has been saved, payment to be taken later </p>
            </div>
            <div ng-show="finalStatus == 16">
                <h2 style="padding-top:30px;">Payment not taken</h2>
                <p>Sale must be uploaded later</p>
            </div>
            <div ng-show="!finalStatus">
                <h2 style="padding-top:30px;">Offline payment required</h2>
                <p>No token present</p>
            </div>
        </div>

        <div class="button center back-to-dashboard" style="width: 200px; margin: auto; margin-top: 20px; text-align:center;" ng-click=" backtoDashboard()">Back to dashboard</div>
    </ion-content>
</ion-view>

<!--backtoDashboard()-->
