/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.
*/


// Homeserve Colours
$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #009ee3 !default;
$balanced:                        #bbce00 !default;
$energized:                       #ffc900 !default;
$assertive:                       #e3012e !default;
$royal:                           #821f81 !default;
$dark:                            #7a787e !default;

// Remove Box Shadow from Cards
$card-box-shadow: 0;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

// Container class with margins
div .container {
  margin-left:10px;
  margin-right: 10px;
  margin-top: 10px;
}

.dash-card {
  width: 30%;
  display: inline-block;
  float: left;
}

.dash-card .item-image {
  height: 170px;
}

.product-card .item-image img {
  height: 200px;;
  width: auto;
}

.sales-display {
  border: solid 1px black;
  width: 100%;
  height: 1000px;
}
