<ion-modal-view class="signature-modal">
    <ion-header-bar>
        <h1 class="title">Are you happy with the signature?</h1>
    </ion-header-bar>
    <ion-content>

            <img ng-src="{{sigImageData}}">


                <div class="popup-buttons">
                    <button class="button" type="submit" ng-click="closeModalClearPad()">No</button>

                    <button type="submit" ng-click="confirmSignature()" class="button button-positive">Yes</button>
                </div>

    </ion-content>
</ion-modal-view>
