<ion-modal-view class="pincode-modal">
    <ion-header-bar>
        <h1 class="title">{{sale.name}}</h1>
    </ion-header-bar>
    <ion-content>
        <div class="confirmation-page center-block" style="background-color: #ffffff;">


            <ion-list>
                <ion-header-bar class="bar-positive" style="height: ">
                    <h1 class="title">Product Information</h1>
                </ion-header-bar>
                <ion-item>
                    <span class="pull-left"> Product name </span> <span class="pull-right">{{sale.product.name}}</span>
                </ion-item>
                <ion-item>
                    <span class="pull-left"> Price </span> <span class="pull-right">£{{basePrice.toFixed(2)}}</span>
                </ion-item>
                <ion-item>
                    <span class="pull-left"> Extras </span> <span class="pull-right">£{{sale.payload.extras}}</span>
                </ion-item>
                <ion-item><span class="pull-left">Excess </span> <span class="pull-right"> - £{{sale.payload.excess}}</span></ion-item>
                <ion-item><span class="positive pull-left">Total</span> <span class=" positive pull-right">£{{total.toFixed(2)}}</span></ion-item>
            </ion-list>

            <br/>
            <br/>

            <div class="row custom-row">

                <div class="col">

                    <span class="pull-left" style="width: 180px; height: 30px; display: inline-block; text-align: left;"> </span>

                    <span class="pull-right"><img style="display: inline-block; display: inline-block; max-width: 330px;" ng-src="{{sale.signature}}"></span>
                    <br/>

                    <span class="pull-left" style="width: 180px; display: inline-block; text-align: left;">{{sale.payload.name}}</span>

                    <span class="pull-left" style="width: 180px; display: inline-block; text-align: left;">{{sale.payload.email}} </span>
                    <br/>
                    <span class="pull-left" style="width: 180px; display: inline-block; text-align: left;">{{sale.payload.address}}</span>
                    <br/>
                    <span class="pull-left"style="width: 180px; display: inline-block; text-align: left;">{{sale.payload.postcode}}</span>
                    <br/>
                    <span class="pull-left"style="width: 180px; display: inline-block; text-align: left;">{{sale.payload.city}}</span>

                    <br/>

                </div>


        </div>

            <div class="col">


                <span ng-show="!sale.stripe_publishable_key"><i class="icon-1g assertive fa fa-cc-stripe fa-3x"></i></span>
                <span ng-show="sale.stripe_publishable_key"><i class="icon-1g balanced fa fa-cc-stripe fa-3x"></i></span>
                <span ng-show="!sale.stripe_publishable_key"><i class="icon-1g assertive fa fa-cc-stripe fa-3x"></i></span>
                <span ng-show="!sale.paid"><i class="icon-1g assertive fa fa-usd fa-3x"></i></span>
                <span ng-show="sale.paid"><i class="icon-1g balanced fa fa-usd fa-3x"></i></span>
                <span ng-show="!sale.videoSyncStatus"><i class="icon-1g assertive fa fa-video-camera fa-3x"></i></span>
                <span ng-show="sale.videoSyncStatus"><i class="icon-1g balanced fa fa-video-camera fa-3x"></i></span>
                <span ng-show="sale.id && sale.videoSyncStatus && sale.paid"><i class="balanced icon ion-checkmark-circled salestatus fa-3x"></i></span>
                <span ng-show="sale.id && (!sale.paid || !sale.videoSyncStatus)"><i class="icon energized fa fa-exclamation-circle salestatus fa-3x"></i></span>
                <span ng-show="!sale.id"><i class="icon assertive fa fa-exclamation-circle salestatus fa-3x"></i></span>
            </div>


            <br/><br/>
            <button ng-show="sale.stripe_publishable_key && !sale.paid && sale.signature" class="button button-assertive" ng-click="makePayment(sale)">
                Retry Payment
            </button>
            <button ng-show="!sale.signature" class="button button-assertive" ng-click="deleteSale(sale)">
                Delete Sale
            </button>
            <button ng-show="!sale.stripe_publishable_key" class="button button-positive">
                Please arrange offline payment for this customer
            </button>
            <button class="button button-positive" ng-click="closeModal()">
                back
            </button>



    </ion-content>
</ion-modal-view>
