<ion-modal-view view-title="Pincode" class="pincode-modal" ng-init="init()">
    <ion-content class="center-vertical">

        <div style="margin-top: 30px">
            <img class="company-logo" src="img/homeserve.png">
        </div>

    </ion-content>
</ion-modal-view>
