<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Upload Sale</h1>
    </ion-header-bar>
    <ion-content>


        <div class="popup-body">


            <div class="popup-buttons">
                <button class="button button-positive" type="submit" ng-click="uploadSale(sale)">Upload Sale</button>

                <button class="button button-positive" type="submit"  ng-click="backtoDashboard()">Return to Dashboard</button>

                <div ng-show="saleUploaded">Sale succesfully uploaded</div>
            </div>

        </div>



    </ion-content>
</ion-modal-view>
