<style>

html {
  margin: 5% 10%;
  font-family: sans-serif;
  font-size: 14px;
  padding-bottom: 5%;
}

h2 {
  color: #007aff;
}

hr {
  border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 6% 0;
}
</style>

<h1>Am I eligible?</h1>

<p>This product is for homeowners only. Retail, commercial and other premises used for business are not eligible for this plan, and council and housing association tenants will not need this service. The property must be your permanent home and owned and solely occupied by you and your family as a private residence with no business use. Mobile homes, bedsits, sub-divided homes and let and sub-let properties are not covered.</p>

<p>The boiler at your property must have a power output of less than 60 KW/hr and be fired by natural gas (and not LPG, electric or oil). Your property must not be heated by dual purpose boilers, a warm air heating system, combination and unvented cylinders or thermal storage units.</p>

<hr>

<h1>Important Information</h1>

<p>Prices include all fees and Insurance Premium Tax (IPT).</p>

<h2>Are you eligible to apply?</h2>

<p>This policy is for homeowners only. Retail, commercial and other premises used for business are not eligible for this cover, and council and housing association tenants will not need this service. The property must be your permanent home and owned and solely occupied by you and your family as a private residence with no business use. Mobile homes, bedsits, sub-divided homes and let and sub-let properties are not covered.</p>

<p>The boiler at your property must have a power output of less than 60 KW/hr and be fired by natural gas (and not LPG, electric or oil). Your property must not be heated by dual purpose boilers, a warm air heating system, combination and unvented cylinders or thermal storage units.</p>

<h2>Are you covered elsewhere?</h2>

<p>Homeowners should check if their existing home insurance or other policies provide cover, expert assistance and repairs in the event of the domestic incidents covered by this policy so you are not paying for cover you do not need.</p>

<h2>What happens after the first year?</h2>

<p>The price may increase at renewal. Currently customers in their second year are paying for this policy provided they have made no claims. If you pay by Direct Debit or credit/debit card, excluding Maestro payments, your cover will automatically renew unless you tell HomeServe otherwise. If you choose any other method of payment you will be sent an invitation to renew prior to your renewal date.</p>

<h2>Who Provides this cover?</h2>

<p>This policy is underwritten by Inter Partner Assistance SA (IPA) which is fully owned by the AXA Assistance Group. Inter Partner Assistance SA is a Belgian firm authorised by the National Bank of Belgium and subject to limited regulation by the Financial Conduct Authority. Details about the extent of its regulation by the Financial Conduct Authority are available from us on request. Inter Partner Assistance SA's Financial Services Register Number is 202664. IPA's registered UK address is The Quadrangle, 106 - 118 Station Road, Redhill, Surrey, RH1 1PR (registered company number FC008998).</p>

<p>This policy is sold, arranged and administered by HomeServe, which is a trading name of HomeServe Membership Limited, Cable Drive, Walsall, WS2 7BN (registered in England company no. 2770612) which is authorised and regulated by the Financial Conduct Authority (FCA) for insurance mediation activity under Financial Services Register number 312518. The regulatory status of IPA and HomeServe can be checked by visiting the FCA's website www.fca.org.uk/register or by contacting the FCA on 0800 111 6768 (call rates may vary).</p>

<p>Please refer to 'Who provides this policy' in the Summary of Cover.</p>

<p><small>(*) Calls may be recorded for quality control and training purposes. Lines are open 8am to 8pm weekdays, 8am to 4pm Saturday and 10am to 4pm Sunday.</small></p>

<hr>

<h1>FAQs</h1>

<h2>How do I apply for this policy?</h2>
<p>To apply for this policy, please click 'Apply online' or call 0800 923 8010* and speak to a HomeServe agent.</p>

<p>To make the application process as smooth as possible, please make sure you have the following information to hand:</p>

<h2>Details of the property you want to cover</h2>

<ul>
<li>A valid email address</li>
<li>Type of heating</li>
<li>Your boiler make</li>
<li>Credit / debit card or bank details (for direct debit payments)</li>
</ul>

<h2>How do HomeServe Vet their tradesmen?</h2>
<p>We're careful to vet all HomeServe approved tradesmen. We do this by:</p>

<ul>
<li>Inspecting jobs upon completion</li>
<li>Taking a copy of their Public Liability Certificate</li>
<li>Validating their relevant trade certificates</li>
<li>Getting them to agree to our Service Level Agreements and Key Performance Indicators</li>
<li>Getting them to sign the HomeServe Health and Safety Statement</li>
</ul>

<h2>How soon after purchasing can I make a claim?</h2>
<p>This policy has an initial 28 day exclusion period within which you will not be able to make a claim. Please see your policy documents for more details.</p>

<h2>How do I make a claim?</h2>
<p>First, check that your problem is covered by checking your policy documents.  If your problem is covered by your policy you can visit HomeServe.com or call 0800 923 8010.</p>

<hr>

<h1>What if I change my mind</h1>

<p>If you're not happy with the policy or change your mind within 28 days, we'll happily refund your premium, provided no claims have been made. Find out more about your 28 day cancellation rights.</p>

<h2>28 day cancellation rights</h2>

<p>Once your policy has started, it may be cancelled for any reason, at any time, by the named policyholder(s) or an authorised representative either by writing to or calling HomeServe.</p>

<p>If you cancel within the initial 28 day cancellation period (which includes the statutory 14 days) you will receive a full refund of any premiums paid, providing no claims have been made. If you cancel after this and no claims have been made, you will receive a proportionate refund of any premium paid.</p>











