<h1>James's Original Sales Process...</h1>
<br /><br />
**NOTE**
<br />
This is currently a mix between native-coded content and html / pdf / video media.
<br />
We need to ensure packages have a standard format (preferably all content is in one index.html file) including a hidden html5 data atrtribute containing the JSON payload of the data to pass back to the IONIC app

<p>
    <a href="cover_we_offer.htm">Example Partial from the Original Sales Package</a>
</p>