/* maybe add box-sizing: border-box; */

.clearfix() {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}
.clearfix:after {
  clear: both;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
}

h1,h2,h3 {
  font-weight: normal;
  padding-bottom: 10px;
  color: #000;
  padding-top: 2%;
}

h1 {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 2.6em;
}

h1, h2 {
  margin-left: 2%;
}

h2 {
  border-bottom: 1px solid #ccc;
}

img {
  width: 100%;
}

/*body {
  background: rgba(0,0,0,.3);
}*/

.image-centered {
  display: block;
  margin: auto;
  position: absolute;
  top:0;right:0;bottom:0;left:0;
}

div.image-centered {
  /*background: rgba(0,0,0,.4);*/
  height: 500px;
}

div.image-centered > div {
  text-indent: -9999px;
  width: 10%;
  height: 6%;
  /*background: rgba(255,0,0,.3);*/
  position: absolute;
  bottom: 2.5%;
}

div.image-centered > div:nth-child(1) { left: 39%; }
div.image-centered > div:nth-child(2) { left: 52%; }
div.image-centered > div:nth-child(3) { left: 65%; }
div.image-centered > div:nth-child(4) { left: 77%; }

.image-sticky-footer {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
}

/*------------*/

.wrapper-centered {
  margin: auto;
  position: absolute;
  top:0;right:0;bottom:0;left:0;
  height: 85%;
}

.wrapper-centered form input[type="text"] {
  /*background: rgba(255, 0, 0, 0.1);*/
  height: 4%;
  width: 30%;

  position: absolute;
  left: 44%;

  border: 0;
}
.payment form .next-btn {
  position: absolute;
  left: 23%;
  top: 92%;
  /*background: rgba(255,0,0,.5);*/
  width: 53.5%;
  height: 7%;
  text-indent: -9999px;
}

.wrapper-of-content {
  position: relative;
  /*background: rgba(0,0,100,.3);*/
}

.actual-content {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
}

.payment .wrapper-centered input:nth-child(1) { top: 214px; }
.payment .wrapper-centered input:nth-child(2) { top: 258px; }
.payment .wrapper-centered input:nth-child(3) { top: 302px; }

#account_name, #account_number, #sort_code {
  width: 23%;
  left: 51.2%;
}

.payment [type="radio"] {
  position: absolute;
  padding: 1em;
  left: 25.5%;
  z-index: 30;
}
.payment [type="radio"]:before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  top: -7px;
  left: -7px;
  /*background: white;*/
}

.checkbox {
  width: 22px;
  background: url('checkbox.png') no-repeat 0 0;
  background-size: 44px;
  position: absolute;
  height: 22px;

  top: 0;
  left: 0;
}

.checkbox.checked {
  background-position: -22px 0;
}

.checkbox {
  top: 355px;
  left: 197px;
}
.checkbox.second {
  top: 405px;
  left: 197px;
}

/*input[type=checkbox]:not(old),
input[type=radio   ]:not(old) {
  width   : 44px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}
*/
/*input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -44px;
  padding-left : 44px;
  background   : url('checkbox.png') no-repeat 0 0;
  line-height  : 48px;
}*/


/*.payment [type="checkbox"] {
  background: url('checkbox.png') no-repeat;
  width: 44px;  original is 88px
  margin:0;
  padding:0;
  opacity: 0;
}*/

.payment [type="checkbox"]:checked {

}

#confirm_1 {
  top: 79.7%;
}

#confirm_2 {
  top: 86.3%;
}

.bullshit {
  margin-left: 2%;
  margin-top: 2%;
  /*padding-top: 2%;*/
  float: left;
  color: #6d6d72;
}

.boxy-wrapper {
  margin-top: 2%;
  padding-top: 0.5%;
  padding-bottom: 2%;
}

.boxy, .extra {
  border-radius: 4px;
  border: 2px solid #ccc;
  text-align: center;

  float: left;
  width: 18%;
  margin: 0 2%;
}

.boxy {
  padding: 0.5%;
}

.boxy.selected, .extra.selected {
  border-color: #007aff;
}

.boxy .price {
  font-size: 3em;
  font-weight: bold;
}

.boxy .caption {
  font-size: .9em;
}

.extra {
  font-size: 1.2em;
  padding: 22px 0;
}

.extra:first-of-type {
  padding: 23px 0;
}
.extra:last-of-type {
  padding: 15px 0;
}

.blue {
  color: #007aff;
}

.some-content {
  margin: 2% 4%;
  padding-bottom: 2%;
  padding-right: 2%;
  /*line-height: 150%;*/
  border-bottom: 1px solid #ccc;
}

.the-next-btn-wrapper {
  position: fixed;
  bottom: 70px;
  width: 100%;
  height: 180px;
  /*background-color: rgba(0,50,0,.05);*/
  background-color: white;
}

.the-next-btn {
  float:right;
  text-align:center;
  height: 40px;
  line-height: 40px;
  /*background: #4bd562;*/
  background-color: #4cd864;
  color: white;
  border-radius: 4px;
  width: 30%;
  font-size: 1.4em;
  margin-right: 4%;
  margin-top: 30px;
}

.disabled, [disabled="disabled"] {
  /*opacity: .5;*/
  background-color: #ddd;
}

.wrapper-of-everything-but-breadcrumb-and-footer {
  /*margin-bottom: 14%;*/
  padding-bottom: 14%;
}

.paragraphs > p {
  margin-bottom: 25px;
}

.paragraphs > strong + p {
  margin-top: 3px;
}

.smaller {
  font-size: 120%;
  border-color: #eee;
  margin-left: 0;
}

.first-col, .second-col {
  float: left;
  width: 49%;
}

.first-col {
  padding-right: 2%;
}

.second-col {

}

.list.covered {
  list-style: none;
  padding-left: 0;
}
.list.covered li {
  padding-bottom: 10px;
}
.list.covered li:before {
  display: inline-block;
  content: '';

  background: url('cross-and-tick.png') no-repeat;
    -moz-background-size:19px 8px;
     -ie-background-size:19px 8px;
      -o-background-size:19px 8px;
-webkit-background-size:19px 8px;
         background-size:19px 8px;

  width: 11px;
  height: 8px;
  margin-right: 5px;
  background-position: -8px 0;
}

.list.not.covered li:before {
  background-position: 0 0;

  width: 8px;
}

.just-a-little-box {
  background-color: #eee;
  border-left: 3px solid #ccc;
  padding: 15px;
  margin-right: 5%;
  margin-bottom: 30px;
}
.just-a-little-box > strong + p {
  margin-top: 4px;
}
